<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NliuConnection" connectionString="Server=SUNNY;Initial Catalog=NLIU;Integrated Security=True" providerName="SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"> </compilation> 
    <!--To Run Request validation in dotnet 2.0 version mode-->
    <httpRuntime requestValidationMode="2.0" />
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <!-- To disable validation -->
    <pages validateRequest="false"/>
  </system.web>
</configuration>